KeySoundPlayer/Builds/VisualStudio2015/x64/Debug
KeySoundPlayer/Builds/VisualStudio2015/x64/Release
KeySoundPlayer/Builds/VisualStudio2015/.vs
KeySoundPlayer/Builds/VisualStudio2015/KeySoundPlayer.VC.db
_library/libraries/bin
_library/libraries/build/*.jar
_library/libraries/build/doc
_library/SDrop/bin
_library/SDrop/build/*.jar
_library/MidiMap/bin
_library/MidiMap/build/*.jar
_library/CommandScript/bin
_library/CommandScript/build/*.jar
release/*.exe
PW1_4/application.windows32
PW1_4/application.windows64
PW2_0/application.windows32
PW2_0/application.windows64
PW2_0/data/Colors.xml
PW2_0/data/Shortcuts.xml
PW2_0/data/Settings.xml
PW2_0_
release/PositionWriter
